
@font-face{
    font-family: "Cod";
    src: url(/assets/fonts/Call\ of\ Ops\ Duty.otf);
    font-weight: bold;
    font-style: bold;
}

body{
    font-family: Cod;
    background-color: #e8e8e8;
    background-image: url(/assets/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

.Menu{
    list-style: none;
    background: #000000;
    width: auto;
    max-width: 100%;
    margin: 0;
    text-align: left;
    font-size: larger;
    display: flex;
}


.Menu img{
    width: 150px;
    height: auto;
    margin-top: 5px;
    margin-right: 2px;
}

.Menu li a{
    text-decoration: none;
    color:white;
    padding: 30px;
    display: block;
}

.Menu li{
    text-align: center;
    display: flex;
}

.Menu li a:hover{
    background: #e70505;
    color: black;
}

.main{
    font-size: xx-large;
    padding-top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    text-shadow: 3px 3px 0 black;
    font-size: 80px;
    color: white;
    font-weight: 600;
}

.main h1 span{
    color: #e70505;
}

.main p{
    color: white;
    text-shadow: 3px 3px 0 black;
}

.main p span{
    color: #e70505;
}

.main img{
    width: 350px;
}

.conteiner-btn{
    padding-left: 180px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.conteiner-btn button{
    margin: 0;
    font-family: Cod;
    border: 0;
    background-image: linear-gradient(150deg,red,black);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 45px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}


