<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style2.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="Menu">
                <a href="/index.html"><img src="/assets/img/wz.png" alt=""></a>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="#">Clases</a></li>
                <li><a href="#">Operadores</a></li>
                <li><a href="/assets/view/maps.html">Mapas</a></li>
                <li><a href="#">Armas</a></li>
                <div>
                    <img src="" alt="">
                </div>
            </ul>
        </nav>
    </header>
    <div class="card">
        <div class="face front">
            <img src="/assets/img/vondel.webp" alt="">
            <h3>Vondel</h3>
        </div>
        <div class="face back">
            <h3>Vondel</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Odio laboriosam corrupti, illum nemo quisquam fugit 
                exercitationem odit distinctio reprehenderit unde facilis 
                eligendi quam fugiat enim.</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="/assets/img/fortune.jpg" alt="">
            <h3>fortune's keep</h3>
        </div>
        <div class="face back">
            <h3>fortune's keep</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Odio laboriosam corrupti, illum nemo quisquam fugit 
                exercitationem odit distinctio reprehenderit unde facilis 
                eligendi quam fugiat enim.</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="/assets/img/rebirth.webp" alt="">
            <h3>Rebirth Island</h3>
        </div>
        <div class="face back">
            <h3>Rebirth Island</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Odio laboriosam corrupti, illum nemo quisquam fugit 
                exercitationem odit distinctio reprehenderit unde facilis 
                eligendi quam fugiat enim.</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
        </div>
    </div>
</body>
</html>